.search-div{
    margin: 2rem auto;
    width: fit-content;
}

.search-div input,button{
    padding: 0.6rem;
}
.search-div input{
    width: 50vw;
}

.imagelist-div{
    display: flex;
    flex-wrap: wrap;
    flex-shrink:unset;
    gap: 0.5rem;
}
.imagelist-div>.image-group>img{
    width: 100%;
}
.image-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
    flex: 1;
}